<div class="app__container">

  <form action="/blog/store" method="POST" class="form__create_product">
    <label for="fname">Title Blog</label>
    <input type="text" id="fname" name="titleblog" />

    <label for="lname">Image</label>
    <input type="text" id="lname" name="imageblog" />

    <label for="lname">Description</label>
    <input type="text" id="lname" name="description" />

    <input type="submit" value="Thêm" />
  </form>

</div>